<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      I can be reached by email at admin at railstutorial dot org.
      Please mail to ThuyDung.KID@gmail.com
    </p>
  </body>
</html>